
body
{
    background-color: white;
    font-family:'Poppins', sans-serif;
}

#container-fluid
{
    margin-left: 22rem;
    margin-right: 22rem;
    
}

#navbarNavDropdown
{
    justify-content: end;
}

.display-5
{
    margin-left: 22rem;
    margin-right: 22rem;
    color: rgb(54, 87, 61);
    text-align: center;
}

#sectionone
{
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #14A44D;
}

#sectiononepar
{
    color: white;
}

#sectiontwo
{
    background-color: white;
}

#sectiontwoin
{
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-left: 22rem;
    margin-right: 22rem;
}
#sectiontwopar
{
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 2rem;
    
}

#imgg
{
    transition: transform 0.3s ease-in-out;

}
#imgg:hover
{
    opacity: 0.9;
}



#sectionthreein
{
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-left: 22rem;
    margin-right: 22rem;
}

#sectionthreeh2
{
    margin-bottom: 2rem;
}
#sectionthree
{
    background-color: rgb(220, 218, 215);
}


#sectionfourin
{
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-left: 22rem;
    margin-right: 22rem;
}





#sectionfivein
{
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-left: 22rem;
    margin-right: 22rem;
}
#sectionfive
{
    background-color: rgb(220, 218, 215);
}


#sectionsixin
{
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-left: 22rem;
    margin-right: 22rem;
}
#sectionsix
{
    background-color: rgb(176, 255, 215);
}

#footerdivoneleft
{
    margin-left: 19rem;
    
}

#footerdivoneright
{
    margin-right: 19rem;
}

